@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Prompt:wght@200;400;600&family=Ruslan+Display&display=swap");

body {
	font-family: "Ruslan Display", sans-serif;
	background-color: #070f2b;
	color: white;
}

.title {
	color: white;
	font-size: 32px;
}

#seleccionar_mascota {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subtitle {
	color: white;
	font-size: 24px;
}

.tarjetas,
.tarjetas-ataques {
	display: flex;
	gap: 10px;
}

.tarjeta-digibeast {
	width: 180px;
	height: 100px;
	background: #535c91;
	padding: 10px;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 20px;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;

	& img {
		width: 80px;
	}

	p {
		font-size: 16px;
		font-family: "Prompt", sans-serif;
		font-weight: 200;
	}
}

input {
	display: none;
	&:checked + label {
		background-color: #ed4b34;
	}
}

button {
	width: 200px;
	height: 40px;
	margin: 30px 10px 0px 10px;
	color: #9290c3;
	background: transparent;
	border: 2px solid #9290c3;
	border-radius: 20px;
	font-family: "Prompt", sans-serif;
	font-size: 18px;
	font-weight: 900;

	&:active {
		border: 2px solid #ed4b34;
	}
	&:focus {
		border: 2px solid #ed4b34;
	}
}

/* Custom Segunda Pantalla de Juego */

#seleccionar_ataque {
	flex-direction: column;
	align-items: center;
}

.boton-de-ataque {
	width: 5rem;
	background-color: #535c91;
	color: white;
}

#messages {
	width: 200px;
	background: #1b1a55;
	padding: 20px;
	border-radius: 20px;
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#boton-reiniciar {
	border: 2px;
	background-color: white;
	color: #1b1a55;
	&:hover {
		background-color: #ed4b34;
		color: white;
	}
}


.ataques {
	display: grid;
	grid-template-columns: 150px 150px;
	text-align: center;
	margin-top: 30px;
}

.ataque-Jugador,
.ataque-Enemigo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ver-mapa {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mapa{
	border: 2px solid #9290c3;
	border-radius: 20px;
	background-color: #1b1a55;
}

@media (max-width: 360px) {
	.title {
		font-size: 24px;
	}
	.subtitle {
		font-size: 18px;
	}
	.tarjetas,
	.tarjetas-ataques {
		flex-direction: column;
	}
}
